# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log* 
yarn-error.log* 


# Node
node_modules
dist
dist-ssr
coverage
*.local

# Editor 
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
## Editor
.vite
log.txt

#global
.env

# Extras
dist-detail
public
models
001
002
003
004
005

