# Logs
logs
*.log
npm-debug.log*

#global
.env

# Node
node_modules
dist
dist-ssr
*.local

# Editor 
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
log.txt

# Extras
public
001
002
003
004
005

