@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: anybody-regular;
  src: url('./assets/fonts/anybody/Anybody-Regular.ttf');
}
@font-face {
  font-family: plus-jakarta-sans-regular;
  src: url('./assets/fonts/plus-jakarta-sans/PlusJakartaSans-Regular.ttf');
}

:root {
  /* Colors */
  --deta-dart-300: #cadbe1;
  --deta-dart-400: #89a2ab;
  --deta-dart-500: #59727b;
  --deta-dart-600: #344951;
  --deta-dart-700: #142126;
  --deta-dart-800: #091417;

  --agave-100: #f4f4fc;
  --agave-200: #e6f0f4;
  --agave-300: #cadbe1;
  --agave-400: #89a2ab;
  --agave-500: #59727b;
  --agave-600: #344951;
  --agave-700: #142c39;
  --agave-800: #142126;
  --agave-900: #091417;

  --limon-100: #fafbea;
  --limon-200: #f5f7bc;
  --limon-300: #e6e98e;
  --limon-400: #cfd526;
  --limon-500: #b8c60e;
  --limon-600: #a7ad13;
  --limon-700: #777f0b;
  --limon-800: #5e6605;
  --limon-900: #464c02;

  --granada-50: #f33c79;
  --granada-100: #c71b54;
  --granada-300: #af1649;
  --granada-500: #96103d;
  --granada-700: #7c0b31;
  --granada-900: #440117;

  /* fonts */
  --base-size: 1rem;
  --scale: 1.25;
  --lg: calc(var(--h1) * var(--scale));
  --h1: calc(var(--h2) * var(--scale));
  --h2: calc(var(--h3) * var(--scale));
  --h3: calc(var(--h4) * var(--scale));
  --h4: calc(var(--h5) * var(--scale));
  --h5: calc(var(--h6) * var(--scale));
  --h6: var(--base-size);
  --small: calc(var(--base-size) / var(--scale));

  /* Font families */
  --font-title: Anybody-Regular, Arial, Helvetica, sans-serif;
  --font-regular: PlusJakartaSans-Regular, Verdana, Geneva, Tahoma, sans-serif;

  /* Standards */
  --border-size-base: calc(var(--base-size) * 0.5);
}

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: var(--font-title);
}

h1 {
  font-size: var(--h1);
}
h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

h6 {
  font-size: var(--h6);
}

p {
  font-family: var(--font-regular);
  font-size: var(--base-size);
}

.infobar__control-button {
  height: 64px;
  width: 64px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--limon-400);
  border-radius: var(--border-size-base);
  /* border: solid 1px; */
}

.infobar__control-button:hover {
  color: var(--limon-200);
  padding-top: 0px;
  padding-bottom: 6px;
}
.infobar__control-button:active {
  color: var(--agave-700);
  background-color: var(--limon-200);
  padding-top: 6px;
  padding-bottom: 0px;
}
